<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication_major_project_test" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Application_Major_Project_test"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication_Major_Project_test">
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.MyApplication_Major_Project_test.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimingActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication_Major_Project_test.NoActionBar" />
        <activity
            android:name=".FacultyActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication_Major_Project_test.NoActionBar" />
        <activity
            android:name=".StudentActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication_Major_Project_test.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication_Major_Project_test.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication_Major_Project_test.NoActionBar" >
        </activity>
    </application>

</manifest>